html, body {
  height: 100%;
}

/*最左侧侧边栏的样式*/
.sidebar {
  width: 40px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #444;
}
.sidebar__logo {
  line-height: 40px;
  background-color: #ff6666;
  color: #fff;
  text-align: center;
}
.sidebar__btn_login, .sidebar__btn_logout {
  width: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  color: #d4d4d5;
  text-align: center;
  cursor: pointer;
}
.sidebar__btn_login:hover, 
.sidebar__btn_logout:hover {
  color: #fff;
  background-color: #666;
}

/*右侧内容*/
.ui.main {
  height: 100%;
  margin-left: 40px;
}

.label {
  vertical-align: middle;
}

/*login页面*/
.login.grid {
  height: 100%;
}
.login .column {
  width: 450px !important;
}

/*文章详情页面*/
.ui.header:first-child {
  margin-top: 2.8rem;
  margin-bottom: 2rem;
}
.article__label {
  padding-right: 1rem;
  margin-bottom: 20px;
  text-align: right;
}
.article__label .label {
  padding: .78571429em .5em;
  margin-right: 20px;
}
.article__label .label,
.article__label .button {
  vertical-align: middle;
}

/*文章编辑页面*/
.edit__container {
  margin-top: 2rem;
}
.uploader {
  position: relative;
  width: 167px;
  height: 167px;
}
.uploader:hover .input__upload-label {
  display: block;
}
.input__upload {
  display: none;
}
.input__upload-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  display: none;
  cursor: pointer;
}
.uploader:before,
.input__upload-label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30px;
  height: 5px;
  background-color: #fff;
}
.uploader:after,
.input__upload-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 5px;
  height: 30px;
  background-color: #fff;
}
.uploader:before,
.uploader:after {
  background-color: #ccc;
  z-index: -1;
}
#input__upload-img {
  width: 167px;
  height: 167px;
}
.editor-container {
  margin-top: 2rem;
}
#editor {
  height: 600px;
}
#edit__button_submit {
  margin-top: 1rem;
}

/*footer样式*/
footer {
  height: 100px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin-top: 50px;
}
footer p {
}